body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background-image: url(back.jpg);
  background-size: cover;
}
.sitio {
  height: fit-content;
  padding: 10px;
  margin: 0 auto;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.952);
  text-align: center;
}

@media (max-width: 450px) {
  .sitio {
    width: 100%;
  }
}
